[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/SDL"]
	path = modules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/opencv"]
	path = modules/opencv
	url = https://github.com/opencv/opencv.git
[submodule "modules/plog"]
	path = modules/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "modules/imgui-filebrowser"]
	path = modules/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
[submodule "modules/opencv_contrib"]
	path = modules/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
[submodule "modules/harfbuzz"]
	path = modules/harfbuzz
	url = https://github.com/harfbuzz/harfbuzz.git
[submodule "modules/freetype"]
	path = modules/freetype
	url = https://github.com/freetype/freetype.git
[submodule "modules/vcpkg"]
	path = modules/vcpkg
	url = https://github.com/microsoft/vcpkg
[submodule "modules/td"]
	path = modules/td
	url = https://github.com/tdlib/td.git
