[submodule "modules/imgui"]
	path = modules/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "modules/SDL"]
	path = modules/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "modules/glfw"]
	path = modules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "modules/opencv"]
	path = modules/opencv
	url = https://github.com/opencv/opencv.git
[submodule "modules/plog"]
	path = modules/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "modules/imgui-filebrowser"]
	path = modules/imgui-filebrowser
	url = https://github.com/AirGuanZ/imgui-filebrowser.git
